/*
-----------
Reset
-----------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
------------
Debug
------------
*/

.debug header {
    height: 130px;
    background-color: #DAA51F;
}

.debug footer {
    height: 90px;
    background-color: #ADD8E6;
}

/*
-----------
Common
-----------
*/

body {
    padding: 20px;
}

/*
-----------
Header
-----------
*/






/*
-----------
Main
-----------
*/



.row {
    display: flex;
}


/*
-----------
Footer
-----------
*/


